@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sheng Lei";
}

<h1>Sheng Lei</h1>
<img src="img/WeChat Image_20220110174845.jpg" />

<p>
    I hope to gain more knowledges in ASP.Net.
    After I understand enough code knowledge,
    I hope to have some practices and projects
    so I can put on my resume.
</p>

<h3>My Ideal Jobs:</h3>
<ul>
    <li>Data Analyst</li>
    <li>Data Scientist</li>
    <li>Business Consultant</li>
</ul>

    

